body {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
}

.nav {
  /* border: 2px solid; */
  display: flex;
  justify-content: space-around;
}
.divnav {
  padding: 1rem;
}
.divnav button {
  margin: 1rem;
  width: 6rem;
  height: 3rem;
  border-radius: 20px;
}
#main {
  display: grid;
  grid-template-columns: repeat(2, 400px);
  grid-template-rows: repeat(2, 400px);
  justify-content: center;
  gap: 30px;
}

img {
  width: 100%;
  height: 100%;
}

.continer {
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
}
.img {
  grid-area: 3 / 1 /1 /2;
  border-radius: 15px;
}

.divh1 {
  color: rgb(91, 91, 91);
  grid-area: 2 / 2 /1 /4;
}

.divtitle {
  text-align: center;
  grid-area: 2 / 2 /3 /4;
}
.p {
  text-align: center;
  grid-area: 3 / 1 /3 /4;
}

.h1body {
  text-align: center;
}

.big {
  background: #eee;
  padding: 40px;
  font-size: 26px;
  cursor: pointer;
  
}
