body{
    margin: 0;
    padding: 0;
}

.divs{
    height: 50vh;
    border: 2px solid;
}

.id1{
    background-color: yellow;
}

.id2{
    background-color: rgb(255, 0, 0);
}

.id3{
    background-color: rgb(10, 47, 255);
}

.nan{
    display: none;
}